"*":
  "atom-beautify":
    _analyticsUserId: "a16214ef-4e66-4cbd-91a1-69c2d1f6bfca"
  "autocomplete-plus": {}
  core:
    audioBeep: false
    disabledPackages: [
      "atom-alignment"
      "atom-color-highlight"
      "activate-power-mode"
      "color-picker"
    ]
    excludeVcsIgnoredPaths: false
    ignoredNames: [
      ".DS_Store"
    ]
    themes: [
      "one-dark-ui"
      "firewatch-syntax"
    ]
  editor:
    fontFamily: "Hack"
    fontSize: 16
    invisibles: {}
    preferredLineLength: 1
    showIndentGuide: true
    softWrap: true
    tabType: "soft"
  emmet: {}
  "exception-reporting":
    userId: "7b5e9cc8-5e80-0adb-becc-f7440823c7d3"
  "file-types":
    html5: "text.html.php"
  "git-history": {}
  "highlight-line":
    enableUnderline: true
    underline:
      solid: false
  metrics:
    userId: "dfdcf7a9edf0c25603df4e067dca3e87503ad0fb"
  "one-dark-ui": {}
  pigments:
    mergeColorDuplicates: true
  "release-notes":
    viewedVersion: "0.60.0"
  tabs: {}
  "tree-view": {}
  welcome:
    showOnStartup: false
